<h1>About Us</h1>
<p>
<h2>WELCOME, EVERYONE.</h2>
Here we share plant-based recipes requiring 10 ingredients or less, 1 bowl, or 30 minutes or less to prepare. All eaters are welcome.

Whether you’re new to Minimalist Baker or have been around for a while, we’re so glad you’re here.
</p>