<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
        <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h3>RECENT POSTS</h3>
  <hr>
  <h2>Saving the season: Lemons</h2>
  <h5><span class="label label-danger">Food</span> <span class="label label-primary">Passion</span></h5><br>
  <p>
  There’s nothing quite like having an abundance of citrus. I think it accounts for about 50% of all joy during the winter months. The pucker-inducing flavor, the vibrant color, the bright fragrance: there’s nothing quite like it. And, if you’re like me, you like to have some of these flavors year-round. I use lime/lemons in so much of my cooking- it’s a weekly, almost daily staple.</p>
  <br><br>
  <hr>
  <h2>Chickpea Pasta with Chili-Butter Tomato Sauce</h2>
  <h5><span class="label label-success">Food</span></h5><br>
  <p>When I went to make breakfast in a kitchen that was fairly low on ingredients, I managed to drum up a canned of tomatoes. I had a few eggs and realized that with those two items I could make a stellar breakfast. This is just one reason why I suggest always keeping a can of tomatoes on hand- so many meals can be made from this humble ingredient.</p>
  <hr>
</div>

<% end %>