<footer class="footer">
  <small>
    The Food Blog
  </small>
  <nav>
    <ul>
       <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>

    </ul>
  </nav>
</footer>